html {
  scroll-behavior: smooth;
}
body{
    
    font-family: sans-serif , Arial, Helvetica ;
}

.icon{
  font-size: 4rem;
  color: rgb(71, 69, 69);
  position: absolute;
  left: 49%;
  top: 94%;
  opacity: 0.2;
  animation: infinite;
  animation-name: upd ;
  animation-duration: 4s ;
}
@keyframes upd {
  0%   { left:47%; top:90%;}
  25%  { left:47%; top:94%;}
  50%  { left:47%; top:90%;}
  75%  { left:47%; top:94%;}
  100% { left:47%; top:90%;}
}
.icon:hover{
  opacity: 2;
}
.icon2{
  font-size: 4rem;
  color: rgb(71, 69, 69);
  position: absolute;
  left: 49%;
  top: 209%;
  opacity: 0.2;
  animation: infinite;
  animation-name: upd2 ;
  animation-duration: 4s ;
}
@keyframes upd2 {
  0%   { left:50%; top:218%;}
  25%  { left:50%; top:220%;}
  50%  { left:50%; top:218%;}
  75%  { left:50%; top:220%;}
  100% { left:50%; top:218%;}
}
.icon2:hover{
  opacity: 2;
}
.strong{
    font-weight: bolder;
}
.a1{
    color: black;
    margin: 15px 15px;
}
.a2{
    color: black;
    margin: 10px;
}

/* NAVBAR */
.topnav-centered{
    position: sticky;
    left: 35%;
    right: 35%;
}
.logo{
    position: fixed;
    width: 80px;
    top: 2%;
    
    
}

/* INTRO */
#intro-header{
    background-image: linear-gradient(rgb(255, 233, 109), #f3d945,rgb(248, 220, 61),#ffe347);
    height: 1080px;
}
.img-profile{
    border-radius: 50%;
    height: 20%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 17%;
    animation-name: img-p ;
    animation-duration: 2s ;
    box-shadow: -2px 45px 88px -15px rgba(0,0,0,0.73);
  
}
@keyframes img-p {
  0%   {transform: rotate(0deg); left:-100%; top:15%;}
  25%   {transform: rotate(90deg); left:40%; top:10%;}
  50%  {transform: rotate(180deg); left:0%; top:-19%;}
  75%  {transform: rotate(270deg); left:-40%; top:5%;}
  100% {transform: rotate(360deg); left:0%; top:17%;}
}
.img-profile:hover{
    opacity: 0.5;
}
.name-profile{
    position: relative;
    text-align: center;
    top: 15%;
    font-size: 4rem;
    font-weight: bolder;
    animation-name: name ;
    animation-duration: 2s ;
    
  }
  @keyframes name {
    0%   { left:-100%; top:15%;}
    100% { left:0%; top:15%;}
  }
.name-profile:hover {
    opacity: 0.5;
}
#intro-body{
    background-image: linear-gradient(#ffe347,#ffe65b );
    height: 850px;
}
#intro-footer{
    background-color: rgb(245, 243, 243);
    height: 400px;
}
#footer{
    background-color: rgb(255, 255, 255);
    
}




/* BUZZ */
.link{
	
	display: inline-block;
	color: #000;
	
  text-decoration: none;
}
.link:hover{
	text-decoration: none;
	color: #000;
}
@-webkit-keyframes buzz-out-on-hover {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes buzz-out-on-hover {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.buzz-out-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.buzz-out-on-hover:hover, .buzz-out-on-hover:focus, .buzz-out-on-hover:active {
  -webkit-animation-name: buzz-out-on-hover;
  animation-name: buzz-out-on-hover;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

